.container-movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    gap: 70px;
    color: white;
}
h3 {
    text-align: center;
    color: aliceblue;
    font-size: 37px;
}

.query {
    color: black;
}