nav  {
        height: 100px;
        color:  white;
        background: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.left {
    margin-left: 5%;
}

.left a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.left svg{
    font-size: 50px;
}


.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 43px;
    margin-right: 5%;
    gap: 10px;
}

.right input {
    border: none;
    width: 300px;
    padding:  5px 10px;
    font-size: 20px;
    border-radius: 5px;
}

.list{
    margin-left: 20px;
}

a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: .5s;
}

a:hover {
    color: rgba(255, 68, 85, 1);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-search {
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}